
        	* {
                padding: 0px;
                margin: 0px;
                font-family: "Arial";
                font-size: 97%;
        	}
        	.hidden {
				 visibility: hidden;
				 width: 0px;
				 height: 0px;
				 margin: 0px;
				 padding: 0px;
				 border-style: none;
				 border-width: 0px;
				 max-width: 0px;
				 max-height: 0px;
			}
            #canvas {
                position: absolute;
                width: 647px;
                height: 359px;
                top: 50px;
            	left: 185px;
            }
            #paper {
                position: absolute;
                width: 647px;
                height: 359px;
                z-index: 10;
                top: 0px;
            	left: 0px;
            	background-color: white;
                background: url('faceplate_4.gif');
                background-repeat: no-repeat;
            }
            #console {
            	position: absolute;
            	top: 420px;
            	left: 185px;
            	width: 300px;
            	border: 2px dashed black;
            	visibility: visible
            }
            #alerts {
            	position: absolute;
            	top: 0px;
            	left: 850px;
            	width: 150px;
            	padding: 5px;
            	border: 2px dashed rgba(232,48,12,1);
            	background: rgba(232,48,12,0.6);
            	visibility: hidden;
            	z-index: 15;
            }
            #testbuttons{
                z-index: 20;
            	position: absolute;
            	top: 420px;
            	left: 490px;
            	visibility: visible;
            }
            
            #background {
                position: absolute;
                width: 647px;
                height: 359px;
                z-index : 0;
                top: 0px;
            	left: 0px;
            }
            #midimonitor {
                position: absolute;
            	top: 50px;
            	left: 850px;
				width:17em;
				height:24em;
				margin:.5em 0 .5em 0;
				padding:.5em;
				background-color:#eee;
				border:solid 1px #888;
				white-space:pre;
				font-family:Courier New, monospace;
				font-size:.75em;
				overflow:auto;
			}
            .group_btn{
            	background: rgba(110,110,110,1);
            	color: rgba(255,255,255,1);
            	border: 1px solid #006;
            	border-radius: 2px;   
            	float: right;      
            	display: inline-block;
            	padding: 2px;
            	padding-left: 3px;
            	padding-right: 3px;
            	margin-left: 3px;
            	font-size: 0.8em;
            }
            .inspector{
				display:block;
            	position: absolute;
            	border: 1px solid black;
            	border-radius: 4px;            	
				background:#BFBFBF;
				padding: 5px;
            }
            .inspector input[type="submit"]{
            	border: 1px solid;background: #DBDBDB;font-weight: bold;padding: 2px;border-radius: 4px
            }
            .inspector input[type="submit"]:hover{
            	background: #BFBFBF
            }
            .inspector input[type="text"]{
            	border: 1px solid #006;
            	font-size: 1.2em
            }
            .inspector input[type="checkbox"]{
            	display: none;
            }
            .inspector input[type="checkbox"] + label{
            	background: rgba(219,219,219,1);
            	border: 1px solid #006;
            	border-radius: 2px;         
            	display: inline-block;
            	padding: 2px;
            	padding-left: 3px;
            	padding-right: 3px;
            	font-size: 0.8em;
            }
            .inspector input[type="checkbox"]:checked + label{
            	background: rgba(158,189,231,1);
            	border: 1px solid #006;
            	border-radius: 2px;         
            	display: inline-block;
            	padding: 2px;
            	padding-left: 3px;
            	padding-right: 3px;
            	font-size: 0.8em;
            }
            .menu{
            	border: 1px solid #006;
				background: #FFF
            }
            /*
            .insp_btns{
            	top: 10px;
            	left: 750px;
            }
            .insp_leds{
            	top: 70px;
            	left: 750px;
            }
            .insp_ledrings{
            	top: 130px;
            	left: 750px;
            }
            .insp_encs{
            	top: 190px;
            	left: 750px;
            }
            .insp_fsrs{
            	top: 250px;
            	left: 750px;
            }
            .insp_pots{
            	top: 310px;
            	left: 750px;
            }
            .insp_globals{
            	top: 370px;
            	left: 10px;
            }
            */
            
            .insp_btns{
            	top: 0px;
            	left: 185px;
            }
            .insp_leds{
            	top: 0px;
            	left: 605px;
            }
            .insp_ledrings{
            	top: 0px;
            	left: 185px;
            }
            .insp_encs{
            	top: 0px;
            	left: 185px;
            }
            .insp_fsrs{
            	top: 0px;
            	left: 185px;
            }
            .insp_pots{
            	top: 0px;
            	left: 185px;
            }
            .insp_globals{
            	top: 50px;
            	left: 0px;
            }
            .insp_globals li{
            	list-style-type: none;
            	padding-right: 15px;
            	padding-top: 2px;
            	padding-bottom: 3px;
                font-size: 0.8em;
            }
            .insp_globals input[type="submit"]{
            	padding-left: 10px;
            	padding-right: 10px;
            	margin-left: 5px;
            	margin-right: 5px;
            }
            .insp_bank{
            	top: 500px;
            	left: 200px;
            	visibility: hidden;
            }
            .insp_bank li{
            	list-style-type: none;
            }
            .insp_bank form{
            	float: left;
            }
            .insp_bank form{
            	float: left;
            }
            .insp_bank input[type="submit"]{
            	padding-left: 10px;
            	padding-right: 10px;
            	margin-left: 5px;
            	margin-right: 5px;
            }
            
            .inspectform{
            	margin-top: 5px;
            }
            .inspectform li{
            	float: left;
            	list-style-type: none;
            	padding-right: 10px;
                font-size: 0.8em;
            }
            .ctlid {
            	float: left;
            	padding-left: 10px;
            	font-size: 0.8em;
            	color: #575757;
            }
            
            #midiio{
            	top: 0px;
            	left: 0px;
            	position: absolute;
            	font-size: 0.8em;
            	border: 1px solid #000;
            	background-color: #E8DA0E;
            	padding-left: 5px;
            }
            #midiiohint{
            	margin: 0px;
            	top: 30px;
            	left: 5px;
            	width: 150px;
            	padding: 5px;
            	z-index: 10;
            	border: 1px solid #000;
            	background-color: #E8DA0E;
            	position: absolute;
            	box-shadow: 5px 5px 5px #cccccc
            }
            hr {
            	color: black;
            	background: black;
            	height: 1px;
            	width: 100%;
            	border: none;
            	margin-top: 5px;
            	margin-bottom: 5px;
            }
            h2 {
        		float: left;
            }
            h4 {
            	float: left;
            	font-size: 0.9em
            }
            body{
            	background-color: white;
            }
        