.formElm
{
	margin-bottom:5px;
}
    
.formElm label
{
	float:left;
	width:120px;
}

div.divider
{
	width:450px;
	margin:20px auto;
	background-color:#C1f0f6; 
	border:4px #0ebfe9 double; 
	padding:10px;
}